<%-  include ('partials/header') %>
<br>
<br>
<br>
<div class="ui main container segment">
    <div class="ui new header">New Blog</div>
        <form action="/blogs" method="POST" class="ui form">
            <div class="field">
                <label>Title</label>
                <input type="text" name="blog[title]" placeholder="Name">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" name="blog[image]" placeholder="Image">
            </div>
            <div class="field">
                <label>Body</label>
                <textarea name="blog[body]" id="" cols="30" rows="8"></textarea>
            </div>
           
            <button class="ui inverted green button">Submit</button>            
        </form>
</div>

<%-  include ('partials/footer') %>



